.App {
  text-align: center;
}

a{
  text-decoration: none;
  color: black;
}

main{
  position: relative;
  right: 100;
  min-height: 100vh;
  width: 100%;
  /* background-color: rgb(136, 136, 136); */
  /* display: flex;
  justify-content: space-around; */
}

.top-icons {
  padding-left: 100px;
}

.MuiListItemIcon-root{
  padding-left: 7px;
}