.App {
  text-align: center;
}

a{
  text-decoration: none;
  color: black;
}

main{
  min-height: 100vh;
  background-color: gainsboro;
  -left: 100px;
}

.top-icons {
  padding-left: 100px;
}

.MuiListItemIcon-root{
  padding-left: 7px;
}