#chat{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-target-banner{
  position: fixed;
  /* height: 80px; */
  width: 100%;
  padding: 5px;
  background: linear-gradient( rgba(195, 86, 19, 0.5) 1%, rgba(186,23,97,.5) 100%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#chat-target-avatar{
  height: 80px;
  width: 80px;
}

.chat-messages{
  padding-top: 150px;
}